html {
	-webkit-text-size-adjust: none;
	touch-action: manipulation;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
	        user-select: none;
}

body {
	background: #ffcb00;
	color: #531f00;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding: 0;
}

h1 {
	border: none;
	font-weight: 700;
	margin-bottom: 0;
}

h2 {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h2 span {
	color: #ccc;
	padding-left: 10px;
}

h2 span:first-child {
	color: #f9f9f9;
}

a {
	border: none;
	text-decoration: none;
}

a:hover,
.event a:hover,
footer a {
	color: #ff1800;
}

#descripcion {
	font-size: 1.2em;
	margin: 20px auto 0px auto;
	max-width: 60%;
	text-align: center;
}

#calendar-goes-here {
	padding: 25px;
}

@media (max-width: 720px)  {
	body {
		margin: 0;
	}

	h1 {
		font-size: 35px;
		line-height: 1.2;
	}

	#descripcion {
		font-weight: bold;
		max-width: 80%;
	}

	#calendar-goes-here {
		padding: 25px 0;
	}
}

#table-heading {
	align-items: center;
	background: white;
	border-radius: 8px 8px 0 0;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
}

.change-month {
	background: transparent;
	border: 1px solid #ff1800;
	color: #ff1800;
	cursor: pointer;
	font-size: 3em;
	line-height: 1em;
	padding: 0px 15px 5px 15px;
	position: relative;
}

.change-month:disabled {
	border-color: #ccc;
	color: #ccc;
}

#previous-month {
	border-radius: 6px 0 0 6px;
	margin-right: -2px;
	z-index: 1;
}

#next-month {
	border-left: none;
	border-radius: 0 6px 6px 0;
	z-index: 0;
}

.month-table {
	background: white;
	border: none;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	width: 100%;
}

.header td {
	background: #f7f7f7;
	font-size: 1.2em;
	padding: 15px 10px;
}

.empty {
	
}

.days td {
	border: 1px solid #e8e8e8;
	border-top: none;
	border-left: none;
}

.days:last-child td:last-child {
	border-radius: 0 0 8px 0;
}

.days td:nth-child(7n) {
	border-right: none;
}

.day {
	margin: 0;
	padding: 0;
	text-align: right;
}

.day span {
	display: inline-block;
	height: 35px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	width: 35px;
}

.event {
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 2px 10px 10px;
	text-align: left;
}

.days td .event:first-child {
	padding-top: 0;
}

.days td .event:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.past:not(.no-event) .day > span,
.today:not(.no-event) .day > span {
	background: #ff1800;
	border-radius: 50%;
	color: white;
}

.event a {
	border: none;
	color: black;
	display: block;
	opacity: 1;
}

.past:not(.no-event), 
.today:not(.no-event) {
	background: #f9f9f9;
}

.today {
	color: black;
}

footer {
	font-size: 1.5em;
	margin: 0 auto 20px auto;
}
